/OfficeImager/bin/Debug/Spire.License.dll
/OfficeImager/bin/Debug/Spire.Pdf.dll
/OfficeImager/bin/Debug/Spire.Presentation.dll
/OfficeImager/bin/Debug/Spire.XLS.dll
/OfficeImager/bin/Debug/Spire.Doc.dll
/OfficeMarker/bin/Debug/Spire.XLS.dll
/OfficeMarker/bin/Debug/Spire.Doc.dll
/OfficeMarker/bin/Debug/Spire.License.dll
/OfficeMarker/bin/Debug/Spire.Pdf.dll
/OfficeMarker/bin/Debug/Spire.Presentation.dll
/OfficeImager/obj
/OfficeImager/.vs
/OfficeMarker/.vs
/OfficeMarker/obj
/OfficeImager/bin/Deploy
